.Learning_web
{
    text-align: center;
    background: linear-gradient(to bottom , yellow , cyan);
}

.LW1{
    color: magenta;
}

.C_P
{
    text-decoration: underline;
}

.CA{
text-decoration: underline;
}

.SA{
    text-decoration: underline;
}
